*{
    margin: 0;
    font-family: Arial;
}
.navbar{
    height: 60px;
    background-color: black;
    display:flex;
    color:white; 
    align-items: center;
    justify-content: space-evenly;
}
.nav_logo{
    height:50px;
    width:125px;
}
.logo{
    background-image: url("final amazon logo.jpg");
    background-size:cover;
    height:50px;
    width:100%;
    
}
.border:hover{
    border:2px solid white;
}
.fourth{
    font-size: 0.85rem;
    color:#cccccc;
    font-size: 12px;
    margin-left:15px;
}
.third{
    font-size: 1rem;
    color:#FFFFFF;
    font-size: 14px;
    margin-left:3px;
}
.second{
    
    display:flex;
    margin-left: 2px;

}
.first{
    margin-left: 3px;
    align-items: center;
    margin-top: 2px;
}
.search{
    background-color: orange;
    color:black;
    height:43px;
    
    align-items: center;
}
.thirdbox{
    display:flex;
    margin-left: 2px;
    width:900px;
    height:43px;  
    justify-content:space-evenly;
    background-color:black;
}
.searchholder{
    color:#0F1111;
    width: 50px;
      border-top-left-radius:3px;
      border-bottom-left-radius:3px ;
    font-size: 1rem;
}
.search{
    border-top-right-radius:5px;
      border-bottom-right-radius:5px ;
      border:none;
}
.last{
    width:100%;
    font-size: 1rem;
    border:none;
}
.last:hover{
    border:3px solid orange;
}
.search{
    width:50px;
    display:flex;
    justify-content: center;
    font-size: 1.5rem;
}
.same1{
font-size: 12px;
}
.same2{
font-size: 14px;
font-weight: 700;
}
.navbarlast{
    display:flex;
}
.one{display: flex;}
.one i{
    font-size:30px;
}
.lastone{
    font-size: 0.85rem;
    margin-top: 15px;
    font-weight: 700;
}

/* 2nd main  div*/

.panel{
    background-color:#222f3d;
    height:40px;
    color: white;
    display: flex;
    align-items: center;
    
}

.menuborder{
    height:39px;
    width:59px;
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.panel-many{
    display: flex;
    width:35%;
    justify-content: space-evenly;
}

/* 3rd hero section */
.hero-section{
    background-image: url("hero.jpg");
    height:400px;
    background-size: cover;
    background-color: #37475a;
}
.hero{
    height:30px;
    width:100%;
    background-color: white;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero a{
    color:blue;

}
.hero-section{
    display:flex;
    justify-content: center;
    align-items: flex-end;
    
}
.hero{margin-bottom: 20px;}

.mainbody{
    background-color:#e2e7e6;
}
/* boxes */
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color:#e2e7e6;
   height:990px;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box{
    height:300px;
    width:23%;
    border: 2px solid white;
    background-color: white;
    border-radius: 10px;
    background-size: cover;
}
.for-img1{
    background-image: url("box1.jpg");
    height:250px;
    background-size: cover;
    margin-top: 0..5rem;
        margin-bottom: 0.3rem;
        background-size: cover;
}



.for-img2{
    background-image: url("box2.jpg");
    height:250px;
    background-size: cover;
    margin-top: 0..5rem;
        margin-bottom: 0.3rem;
        background-size: cover;
    }

        .for-img3{
            background-image: url("box3.jpg");
            height:250px;
            background-size: cover;
            margin-top: 0..5rem;
            margin-bottom: 0.3rem;
             background-size: cover;}

            .for-img4{
                background-image: url("box4.jpg");
                height:250px;
                background-size: cover;
                margin-top: 0..5rem;
                margin-bottom: 0.3rem;
                background-size: cover;}

                .for-img5{
                    background-image: url("box5.jpg");
                    height:250px;
                    background-size: cover;
                    margin-top: 0..5rem;
                    margin-bottom: 0.3rem;
                    background-size: cover;}

                    .for-img6{
                        background-image: url("box6.jpg");
                        height:250px;
                        background-size: cover;
                        margin-top: 0..5rem;
                        margin-bottom: 0.3rem;
                        background-size: cover;}

                        .for-img7{
                            background-image: url("box7.jpg");
                            height:250px;
                            background-size: cover;
                            margin-top: 0..5rem;
                            margin-bottom: 0.3rem;
                            background-size: cover;}

                            .for-img8{
                                background-image: url("box8.jpg");
                                height:250px;
                                background-size: cover;
                                margin-top: 0..5rem;
                                margin-bottom: 0.3rem;
                                background-size: cover;}

                                .for-img9{
                                    background-image: url("box9.jpg");
                                    height:250px;
                                    background-size: cover;
                                    margin-top: 0..5rem;
                                    margin-bottom: 0.3rem;
                                    background-size: cover;}

                                    .for-img10{
                                        background-image: url("box10.jpg");
                                        height:250px;
                                        background-size: cover;
                                        margin-top: 0..5rem;
                                        margin-bottom: 0.3rem;
                                        background-size: cover;}

                                        .for-img11{
                                            background-image: url("box11.jpg");
                                            height:250px;
                                            background-size: cover;
                                            margin-top: 0..5rem;
                                            margin-bottom: 0.3rem;
                                            background-size:cover;}

                                            .for-img12{
                                                background-image: url("box12.jpg");
                                                height:250px;
                                                background-size: cover;
                                                margin-top: 0..5rem;
                                                margin-bottom: 0.3rem;
                                                background-size: cover;}

.allthree{
    margin-left: 1rem;
    margin-right: 1rem;
    
    margin-bottom: 1rem;

}
.allthree p{
    color: blue;
}



/*panel*/
.panel1{
    height:45px;
    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.panel2{
    height:500px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
ul {
    margin-top: 30px;
}
a{
    color: #DDDDDD;
    margin-top:20px;
    display: block;
    font-size: 0.8rem;
}
.hello{
    font-weight: 700;
}